/* ------------------------------------
    FUENTES
------------------------------------ */

@font-face {
  font-family: "norwester";
  src: url("media/fonts/norwester/norwester.otf");
}

@font-face {
  font-family: "virtual";
  src: url("media/fonts/virtual/Virtual-Regular.ttf");
}

body {
  margin: 0px;
  width: 100vw;
}

/* ------------------------------------
    HEADER
------------------------------------ */

#title {
  font-family: "norwester" !important;
}

.logo {
  width: 10.5%;
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 15% !important;
    margin-right: 3%;
  }
}

header.down {
  background: black;
  transition: all 0.5s ease;
}

header.down a {
  color: white !important;
  transition: all 0.5s ease;
}

header a {
  font-family: "norwester" !important;
  text-decoration: none;
  color: black !important;
}

/* header responsive */

@media screen and (max-width: 767px) {
  header {
    position: relative !important;
    background-color: #000;
  }
  header a {
    color: white !important;
  }

  header a:active {
    border-bottom: white 2px solid;
    ;

  }

  header.down {
    position: fixed !important;
  }

  /* alinear atajos en menu desplegable sm */

  .navbar-nav {

    display: grid;
    align-items: center;
  }
}

/* border bottom y espaciado en md-lg (tuve que asignarle propiedades en tamaños especificos porque había un problema con los bordes en el tamaño sm (se ponian con los bordes en pantallas sm-lg) */

@media screen and (min-width: 767px) {
  .a__atajos:hover {
    border-bottom: black solid 1px;
;
  }

  .down .a__atajos:hover {
    border-bottom: white solid 1px ;
  }

  .a__atajos {
    margin-right: 50px;
   
  }
}

/* ------------------------------------
    CAROUSEL
------------------------------------ */

/* zoom imagenes del carousle sm-md-lg */

.img__carousel {
  animation: zoom-in 7s infinite;
 width: 100vw;
}

/* textos del carousel */

.font__carousel1 {
  font-family: "norwester";
  font-size: 4vw;
  position: relative;
  top: -1vw;
  left: -12vw;
}

.font__carousel2 {
  font-family: "virtual";
  color: #ffc300;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5),
    0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 7vw;
  position: relative;
  top: -6vw;
  left: -13.5vw;
}

.font__carousel3 {
  font-family: "norwester";
  font-size: 1.5vw;
  position: relative;
  top: -8.4vw;
  left: -14.5vw;
}

.titulo__banner1 {
  top: 17vw;
  right: 50vw !important;
}

.titulo__banner2 {
  left: 70% !important;
  top: 0%;
}

.font__carousel2-1 {
  font-family: "norwester";
  font-size: 5vw;
  position: relative;
  top: 55%;
  left: -5%;
}

.font__carousel2-2 {
  font-family: "norwester";
  font-size: 2vw;
  position: relative;
  top: 52%;
  left: 14.5%;
}

.font__carousel2-3 {
  font-family: "virtual";
  font-size: 4vw;
  color: #ffc300;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5),
    0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  left: 23%;
  top: 46.5%;
}

/* ------------------------------------
    SECCION NOSOTROS
------------------------------------ */

.seccion__nosotros {
  background-image: url(media/background/sebastian-mittermeier-pagkGsPGds4-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  color: aliceblue;
  justify-content: center;
  padding: 1%;
}

.quienes__somos {
  width: 30%;
  margin: 1%;
  margin-left: 10%;
  border: black inset 10px;
  border-radius: 5%;
  padding: 2%;
  text-align: center;
}

.quienes__somos h1{
  font-family: 'norwester';

}

.logo__nosotros {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.logo__sin__condor {
  z-index: 1;
}

#animado {
  position: absolute;
  top: 10%;
  right: 25%;
}

.condor {
  animation-name: mover-condor;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  width: 20%;
  transform: scale(1);
  z-index: 1;
}

/* animación de condor */

@keyframes mover-condor {
  0% {
    top: 10%;
    right: 25%;
    transform: scale(0.1);
    z-index: 0;
  }

  25% {
    transform: scale(0.5);
    z-index: 0;
  }

  50% {
    top: 55%;
    right: 60%;
    transform: scale(0.7);
    z-index: 0;
  }

  55% {
    z-index: 1;
  }

  75% {
    transform: scale(0.9);
    z-index: 1;
  }

  100% {
    top: 10%;
    right: 25%;
    transform: scale(1);
    z-index: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.02);
  }
}

/* ocultar el logo con animación en pantallas sm */
@media only screen and (max-width: 1000px) {
  .quienes__somos {
    width: 100%;
    margin: 5%;
    font-size: 0.8rem;
  }

  .logo__nosotros {
    display: none;
  }
}

/* ocultar el logo en pantallas md y posicionar div quienes somos */

@media only screen and (min-width: 481px) and (max-width: 1645px) {
  .logo__nosotros {
    display: none;
  }

  .quienes__somos {
    width: 100%;
    margin: 0 25% 0% 25%;
  }
}

/* fondo de sección nuestros pilotos sm-md-lg */

.nuestros__pilotos {
  background-image: url(media/background/nuestros__piolotos.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ------------------------------------
    GALERIA MD-LG
------------------------------------ */

/* ojo con esto y las imágenes
figure img {
  width: 100%;
} */

.nav-tabs .nav-link {
  color: black;
}

button.nav-link:hover {
  color: goldenrod;
}

.galeria .active {
  color: #ffc300 !important;
}

.galeria {
  font-family: "norwester";
  margin-bottom: 10px !important;
}

/* tamaño, borde y espacio entre las imagenes de la galeria lg-md */

.d-flex > figure > a > img {
  padding: 4px;
  width: 450px !important;
  border-radius: 20px;
}

/* ------------------------------------
    CONTAMOS CON MD-LG
------------------------------------ */
.parent {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "v1 v2"
    "v4 v3"
    "v5 v6"
    "v8 v7";
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.parent > * {
}

.bloque1 {
  grid-area: v1;
}
.bloque2 {
  grid-area: v2;
}
.bloque3 {
  grid-area: v3;
}
.bloque4 {
  grid-area: v4;
}
.bloque5 {
  grid-area: v5;
}
.bloque6 {
  grid-area: v6;
}

.bloque7 {
  grid-area: v7;
}
.bloque8 {
  grid-area: v8;
}

/* contamos con sm*/

@media only screen and (max-width: 1000px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 0.5fr);

    grid-template-areas:
      "v1"
      "v2"
      "v3"
      "v4"
      "v5"
      "v6"
      "v7"
      "v8";
  }

  /* seleccionar varias clases que tienen palabras y orden en común hasta cierto punto */
  [class^="bloque"] {
  }
}

/* ------------------------------------
WHASTAPP LOGO
------------------------------------ */
.wp {
  bottom: 1vw;
  position: fixed;
  z-index: 3;
  right: 1vw;
  filter: drop-shadow(0.8rem 0.8rem 0.8rem #0008);
}

/* whatsapp sm tamaño y animación al tocar icono de manera táctil */

@media screen and (max-width: 767px) {
  .wp {
    width: 12vw;
    transition: transform 0s ease-in-out;
  }

  .wp:active {
    transform: scale(1.1);
  }
}

/*para que no haga la animación de hover y la de active al mismo tiempo en pantallas sm de esta forma solo lo hara en lg y md */

@media screen and (min-width: 767px) {
  .wp:hover {
    scale: 1.1;
  }
}

.planes{
  display: flex;
  flex-direction: row;
  gap: 5px
  ;justify-content: space-around
  ;
}

.plan1, .plan2, .plan3{

width: 100%; height: 50%!important;
background-color: brown;

}




